.mainHeading .chartTitle .full {
	display: none;
}

.mainHeading .chartTitle .code {
	font-size: 24px;
}

.bigChart {
	position: relative;
}

.sideArrow {
	display: flex;
	position: absolute;
	right: -15px;
	left: inherit;
	top: 0;
	width: 15px;
	padding: 4px 0 7px 0;
	justify-content: center;
	font-size: 22px;
	cursor: pointer;
	background: #f7ab1c;
	color: #000;
	border: 1px solid #dc9103;
	border-left: 0;
	transition: all .2s;
}

.sideArrow:after {
	content: "‹";
	display: block;
}

.sideArrow.active {
	border-color: #90abac;
	background: #b3d5d6;
	color: #1f2324;
}

.sideArrow.active:after {
	content: "›";
	display: block;
}

.switchBuySellStopLimit {
	cursor: pointer;
	overflow: hidden;
	display: flex;
	float: none;
	clear: both;
	position: absolute;
	font-size: 12px;
	border: 1px solid #90abac;
	width: 40px;
	justify-content: center;
	padding: 2px 0;
	background: #f3f7f7;
	transition: all .2s;
}

.switchBuySellStopLimit .hide {
	display: none;
}

.switchBuySellStopLimit.active {
	background: #f7ab1c;
	color: #000;
	border-color: #dc9103;
}

.switchBuySellStopLimit.active .hide {
	display: block;
}

.switchBuySellStopLimit.active .show {
	display: none;
}